extends mixins/layout

block header
    #index-head
        .container.vert-center-parent
            .row.vert-center-child
                .col-md-12
                    form#index-search-form
                        #main-logo
                        .input-group#index-search-group
                            input#search-input.form-control.no-border(name='searchQuery' type='text', placeholder='Search by Cuisine, Keyword, Location etc.', aria-label='Text input with dropdown button')
                            .input-group-append
                                button.btn#search-button
                                    span.oi.oi-magnifying-glass(aria-hidden='true')

block content
    br
    .container
        .row
            .col
                br
                h2 This Week's Top Restaurants
        .row#index-carousel
            .col
                .carousel.slide(data-ride='carousel')
                    .carousel-inner
                        each restaurant, index in restaurants
                            div(class=index === 0 ? 'carousel-item active' : 'carousel-item')
                                .row
                                    .col-6
                                        .row
                                            .col
                                                a.restaurant-title(href=`restaurant/${restaurant.localUrl}`)= restaurant.name
                                        .row
                                            .col
                                                - var starRating = Math.round(restaurant.averageRating);
                                                - s = 0
                                                while s < starRating
                                                    span.oi.oi-star.star-highlight(aria-hidden='true')
                                                     - s++
                                                - s = 0
                                                while s < (5 -starRating)
                                                    span.oi.oi-star(aria-hidden='true')
                                                    - s++
                                                h4.rating-value.d-inline.pre-space= restaurant.averageRating.toFixed(1)
                                        .row
                                            .col
                                                p.restaurant-address= restaurant.address.formattedAddress
                                        .row
                                            .col(style='margin-left: -5px')
                                                each category, index in restaurant.categories
                                                    if index < 5
                                                        p.restaurant-category= category.name
                                        .row
                                            .col
                                                p.restaurant-description= restaurant.description
                                    .col
                                        .text-center.full-height
                                            .vert-center-parent
                                                .vert-center-child
                                                    each image, index in restaurant.images
                                                        if index < 2
                                                            img(src=`/images/restaurants/${restaurant._id}/${image}`)
        br
        .row
            .col-4
                h5.text-center
                    span.oi.oi-check.post-space(aria-hidden='true')
                    | Find the best restaurants
                img.index-image.img-thumbnail(src='/images/site/index-image-1.jpg')
            .col-4
                h5.text-center
                    span.oi.oi-thumb-up.post-space(aria-hidden='true')
                    | Contribute your reviews
                img.index-image.img-thumbnail(src='/images/site/index-image-2.jpg')
            .col-4
                h5.text-center
                    span.oi.oi-magnifying-glass.post-space(aria-hidden='true')
                    | Search by cuisine type
                img.index-image.img-thumbnail(src='/images/site/index-image-3.jpg')


    script(type='text/javascript', src='/javascripts/index.js')