extends partials/layout

block content
    #{daysOfWeek = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]}
    if (user)
        script let userPostcode = `#{user.postcode}`;
    else
        script let userPostcode = 'S1 2JA';
    br
    .container
        .row
            .col
                h1 Add a Restaurant
                br
        .row
            .col-10.offset-1
                form(action='/restaurant/new/add_restaurant', method='post', enctype="multipart/form-data")
                    .form-row
                        .col-6
                            .form-row
                                .form-group.col
                                    label(for='restaurantName') Restaurant Name
                                    input.form-control#restaurantName(type='text', name='restaurantName',
                                    placeholder="Tom's Bistro", required, autocomplete='none')

                            #address-input-choice
                                .form-row
                                    .form-group.col
                                        .btn-group
                                            button.btn.btn-secondary.address-input#address-lookup-button(type='button') Address Lookup
                                            button.btn.btn-secondary.address-input#address-map-button(type='button') Set location on map

                            #address-lookup-search
                                .form-row
                                    .form-group.col-5
                                        label(for='search-address') Address Line 1
                                        input.title-case.form-control#search-address(type='text', placeholder='221b', autocomplete='none')
                                    .form-group.col-3
                                        label(for='search-postcode') Post Code
                                        input.upper-case.form-control#search-postcode(type='text', placeholder='SW1A 1AA', autocomplete='none')
                                    .form-group.col
                                        label.invisible-label(for='lookup-btn')
                                        button.btn#lookup-btn(type='button', onclick='findAddress();') Find address

                            #address-lookup-found
                                .form-row
                                    .form-group.col
                                        label(for='formatted-address-lookup') Address
                                        span.oi.oi-pencil.float-right#address-lookup-found-edit-control(aria-hidden='true', onclick='editAddress();')
                                        input.form-control#formatted-address-lookup(disabled)
                                    #address-lookup-found-confirm-control
                                        .form-group.col-1
                                            label.invisible-label
                                            span.oi.oi-check( aria-hidden='true', onclick='confirmEdit();')

                            #address-lookup-found-edit
                                .form-row
                                    .form-group.col-6
                                        label(for='address1') Address Line 1
                                        input.title-case.no-enter-submit.form-control#address1(type='text', name='address1', placeholder='221b', autocomplete='none')
                                    .form-group.col-6
                                        label(for='address2') Address Line 2
                                        input.title-case.no-enter-submit.form-control#address2(type='text', name='address2', placeholder='Baker Street', autocomplete='none')
                                .form-row
                                    .form-group.col-6
                                        label(for='city') City
                                        input.title-case.no-enter-submit.form-control#city(type='text', name='city', placeholder='London', autocomplete='none')
                                    .form-group.col-6
                                        label(for='postcode') Postcode
                                        input.upper-case.no-enter-submit.form-control#postcode(type='text', name='postcode', placeholder='NW1 6XE', required, autocomplete='none')

                            #address-map-text
                                .form-row
                                    .form-group.col
                                        label(for='formatted-address-map') Address
                                        span.oi.oi-pencil.float-right#address-map-edit-control(aria-hidden='true', onclick='editMapAddress();')
                                        input.form-control#formatted-address-map(disabled, value='Drag the marker on the map to set the address')

                            #address-map-map-wrapper
                                .form-row
                                    .form-group.col
                                        #address-map-map

                            .form-row
                                .form-group.col-8
                                    label(for='url') Restaurant Website
                                    input.form-control#url(type='text', name='url', placeholder='www.toms-bistro.pawnee', autocomplete='none')
                                .form-group.col-4
                                    label(for='phone') Phone
                                    input.form-control.no-spinner#phone(style="padding-left: 9px; padding-right: 9px;", type='number', name='phone', placeholder='07700 900461', autocomplete='none')
                            .form-row
                                .form-group.col
                                    label(for='menu') Menu Link
                                    input.form-control#menu(type='text', name='menu', placeholder='www.toms-bistro.pawnee/menu', autocomplete='none')
                            label(for='days-of-week') Opening Times
                            .form-row.opening-times-form
                                .form-group.col-3
                                    select.form-control.opening-times-form#days-of-week
                                        option(value='0') Mon
                                        option(value='1') Tue
                                        option(value='2') Wed
                                        option(value='3') Thu
                                        option(value='4') Fri
                                        option(value='5') Sat
                                        option(value='6') Sun
                                .form-group.col-3
                                    input.form-control.opening-times.opening-times-form#opening-time
                                .form-group.col-3
                                    input.form-control.opening-times.opening-times-form#closing-time
                                .form-group.col-3
                                    button.btn.btn-default.opening-times-form#add-times(onclick="addTimes();", type="button") Add
                            .form-row#selected-times-row(hidden=true)
                                .form-group.col
                                    #selected-opening-times
                            .form-row
                                .form-group.col
                                    label(for='description') Description
                                    textarea.form-control#description(maxlength="200", name='description',
                                    placeholder="Say some things about the restaurant's atmosphere, the kind of " +
                                    "food served, or whatever you feel like!" , rows=4, style='resize: none')
                            //.form-row
                                .form-group.col
                                    select.form-control#price-range
                                        option(value='', disabled, selected) Price Range
                                        option(value='0') £ - Inexpensive
                                        option(value='1') ££ - Average
                                        option(value='2') £££ - Above Average
                                        option(value='3') ££££ - Premium

                            .form-row
                                .form-group.col
                                    //input.form-control#price-range-selector(type='text', placeholder='Use the buttons to select a price range')
                                    label(for='price-range-selector') Price Range
                                    .input-group
                                        div.form-control#price-range-selector
                                            p.d-inline#price-range-selector-1 £
                                            p.d-inline#price-range-selector-2 £
                                            p.d-inline#price-range-selector-3 £
                                            p.d-inline#price-range-selector-4 £
                                        #price-range-btn-group
                                            button.btn.btn-default#price-range-increase
                                                span.oi.oi-caret-top
                                            button.btn.btn-default#price-range-decrease
                                                span.oi.oi-caret-bottom

                            .form-row
                                .form-group.col
                                    label(for='category') Category
                                    #category-selector
                                        #category-selected
                                        input.form-control#category(placeholder='Start typing to choose the categories', autocomplete='none')
                                        #category-dropdown

                        .col-5.offset-1
                            #features
                                .form-row
                                    .col
                                        p Restaurant Features
                                .form-row
                                    .col-3.offset-9
                                        p.float-left Yes
                                        p.float-right No
                                each id in Object.keys(features)
                                    - var value = features[id].name
                                    .form-row
                                        .col-8.text-right
                                            p #{value}
                                        .col-3.offset-1
                                            .wrapper
                                                label.invisible-label.yes-label(for=`yes-${id}`)
                                                input.yes-radio(id=`yes-${id}` type='radio', value='0', name=id)
                                                label.invisible-label.unknown-label(for=`unknown-${id}`)
                                                input.unknown-radio(id=`unknown-${id}` type='radio', value='1', name=id, checked)
                                                label.invisible-label.no-label(for=`no-${id}`)
                                                input.no-radio(id=`no-${id}` type='radio', value='2', name=id)
                                                .selected-highlight

                            .form-row
                                .from-group.col
                                    label(for='published') Published
                                    input#published(type='checkbox')

                    div(hidden=false)
                        each day in daysOfWeek
                            input(type="number", name=`${day.toLowerCase()}Open`, autocomplete='none', readonly)
                            input(type="number", name=`${day.toLowerCase()}Close`, autocomplete='none', readonly)

                        input#lat(type="number", name='lat', autocomplete='none', readonly)
                        input#lng(type="number", name='lng', autocomplete='none', readonly)
                        input#category-body(name='categories', readonly)
                        input#price-range(type='number', name='priceRange', readonly)

                    .form-row
                        .form-group.col
                            .float-right
                                input.btn(type='submit', value='Submit Restaurant')

    script const categoryVar = JSON.parse(`!{categories}`);
    script(type='text/javascript', src='/javascripts/restaurant_new.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDlmGXTAyXPQy1GX02s8UDm1OLBNz6zia0&callback=initMap')
