extends mixins/layout

block content
    #{daysOfWeek = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]}
    br
    .container
        .row
            .col
                h1= restaurant.name
        .row
            .col
                - var starRating = Math.round(restaurant.averageRating)
                - var starCount = 0
                while starCount < starRating
                    span.oi.oi-star.star-highlight(aria-hidden='true')
                    - starCount ++
                while starCount < 5
                    span.oi.oi-star(aria-hidden='true')
                    - starCount ++
                h4.rating-value.d-inline.pre-space= restaurant.averageRating.toFixed(1)


        .row
            .col
                p.restaurant-address= restaurant.address.formattedAddress

        .row
            .col
                each category in restaurant.categories
                    p.restaurant-category= category.name


















        .row
            .col
                p= restaurant.description
        .row
            .col
                h4
                    span.oi.oi-browser.post-space(aria-hidden='true')
                    | Visit official
                    a(href=`${restaurant.contact.url}`, target='_blank') page
        .row
            .col
                h4
                    span.oi.oi-book.post-space(aria-hidden='true')
                    | See
                    a(href=`${restaurant.contact.menu}`, target='_blank') menu
        .row
            .col
                h4
                    span.oi.oi-phone.post-space(aria-hidden='true')
                    | Contact us:
                    a(href=`tel: ${restaurant.contact.phone}`) #{restaurant.contact.phone}
        .row
            .col
                .wrapper-gret
                    - if (user)
                        form#review-form(action='/restaurant/add_review' method='POST')
                            h5 Have you been to this restaurant? Let us know what you think!
                            .form-row
                                .form-group.col
                                    .stars
                                        input#star-5.star(type='radio', name='star', value='5')
                                        label.star(for='star-5')
                                            span.oi.oi-star
                                        input#star-4.star(type='radio', name='star', value='4')
                                        label.star(for='star-4')
                                            span.oi.oi-star
                                        input#star-3.star(type='radio', name='star', value='3')
                                        label.star(for='star-3')
                                            span.oi.oi-star
                                        input#star-2.star(type='radio', name='star', value='2')
                                        label.star(for='star-2')
                                            span.oi.oi-star
                                        input#star-1.star(type='radio', name='star', value='1')
                                        label.star(for='star-1')
                                            span.oi.oi-star
                            .form-row
                                .form-group.col
                                    label(for='review-title') Title
                                    input#review-title(type='text', name='title', placeholder='Title of review' required)
                            .form-row
                                .form-group.col
                                    label(for='review-message') Review
                                    textarea#review-message(name='message', placeholder='Your message', style='height:100px' required)
                            //.form-row
                            //    .form-group.col
                            //            label(for='review-images') Images
                            //            input#review-images(type='file', name='pic', accept='images/*' multiple)
                            .form-row
                                .form-group.col
                                        input#submit(type='submit', value='Submit')

        .row
            .col-5
                .row
                    .col
                        .float-right
                            .slideshow-wrapper
                                .slideshow
                                    - var imageCount = 0;
                                    - if (restaurant.images.length > 0)
                                        each image in restaurant.images
                                            - imageCount += 1
                                            .slide-rest
                                                img(src=`/images/restaurants/${restaurant._id}/${image}`)
                                - if (imageCount > 1)
                                    .slideshow-prev#button-prev-rest
                                        span.oi.oi-check.oi-chevron-left(aria-hidden='true')
                                    .slideshow-next#button-next-rest
                                        span.oi.oi-check.oi-chevron-right(aria-hidden='true')
                .row
                    .col
                        h4 Includes:
                .row
                    .col
                        each value, key in restaurant.features.toJSON()
                            if value
                                p.restaurant-category(style = 'text-transform: capitalize')= key
                .row
                    .col
                        h4 Open hours:
                .row
                    each times, index in restaurant.openingTimes
                        if times.length > 0
                            .col-5.text-center
                                p= daysOfWeek[index]
                            .col-7.text-center
                                - var openingHour = Math.floor(times[0]/60);
                                - var om = times[0]%60;
                                - om = om < 10 ? '0' + om : om;
                                - var closingHour = Math.floor(times[1]/60);
                                - var cm = (times[1]%60);
                                - cm = cm < 10 ? '0' + cm : cm;
                                p #{openingHour}:#{om} - #{closingHour}:#{cm}
                        else
                            .col-5.text-center
                                p= daysOfWeek[index]
                            .col-7.text-center
                                p closed

                .row
                    .col
                        label(for='restaurant-current-map')
                        #restaurant-current-map
        .row
            .col-8
                h3 Reviews
                each review in reviews
                    .row
                        .col-8
                            .row
                                .col-1
                                    // TODO must NOT have inline styling
                                    img(src=`/images/userImages/${review.author.reducedID}`, style='clip: rect(0px,20px,20px,0px); width: 30px; border-radius: 50%;')
                                .col
                                    h5
                                    | #{review.author.forename}
                                    | #{review.author.surname}
                            .row
                                .col
                                    h6 #{review.title}
                            .row
                                .col
                                    .restaurant-stars
                                        // TODO fix these to be pug and not hybrid code
                                        - const reviewRating = Math.round(review.restaurantRating)
                                        - for(var i = 0; i < reviewRating; i++)
                                            span.oi.oi-check.oi-star(aria-hidden='true', style='color: #e69200;')
                                        - for(var i =0; i < (5 - reviewRating); i++)
                                            span.oi.oi-check.oi-star(aria-hidden='true')
                            .row
                                .col
                                    p #{review.body}
                        .col-4
                            .float-right
                                .slideshow-wrapper
                                    .slideshow
                                        - var imageCount = 0;
                                        - if (review.images.length > 0)
                                        each image in review.images
                                            - imageCount += 1
                                            .slide
                                                img(src=`/images/restaurants/${restaurant._id}/${image}`)
                                    - if (imageCount > 1)
                                        .slideshow-prev#button-prev
                                            span.oi.oi-check.oi-chevron-left(aria-hidden='true')
                                        .slideshow-next#button-next
                                            span.oi.oi-check.oi-chevron-right(aria-hidden='true')
        .row
            .camera
                video#video Video stream not available.
                button#startbutton Take photo
            canvas#canvas
            .output
                img#photo(alt='The screen capture will appear in this box.')


    script const restaurantId = `#{restaurant._id}`
    script const coordinates = JSON.parse(`[#{restaurant.location.coordinates}]`)
    script(type='text/javascript', src='/javascripts/restaurant.js')
    script(type='text/javascript', src='/javascripts/review.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDlmGXTAyXPQy1GX02s8UDm1OLBNz6zia0&callback=initMap')