extends mixins/layout

block content
    br
    .container
        .row
            .col
                h1 Restaurant Search
                br
        .row
            .col-10.offset-1
                .card#search-bg-card
                    form#search-form
                        .input-group
                            input.form-control.no-border#search-input(type='text', placeholder='Search by cuisine, keyword, location etc.' autocomplete='off')
                            .input-group-append
                                button.btn.no-border#search-button
                                    span.oi.oi-magnifying-glass
                        .card.mt-4#advanced-search-card
                            .card-header
                                button.btn.btn-link#advanced-search-toggle(data-toggle='collapse' data-target='#advanced-search-collapsible' type='button') Advanced Search
                            .collapse#advanced-search-collapsible
                                .card-body
                                    .row
                                        .col
                                            h6.d-inline#rating-slider-label(for='rating-slider') Minimum Rating
                                            span.oi.oi-star.star-highlight.ml-1.float-right
                                            p.float-right.mb-0#rating-slider-value 0.0
                                            input.form-control#rating-slider(type='range' min='0' max='50' value='0')
                                        //.col
                                            label#distance-slider-label(for='rating-slider') Distance
                                            p.float-right.mb-0#distance-slider-value 50km
                                            input.form-control#distance-slider(type='range' min='0' max='50' value='50')
                                        .col
                                            h6.d-inline#price-range-slider-label(for='rating-slider') Price Range
                                            p.float-right.mb-0#price-range-slider-value Premium
                                            p.small.float-right.mb-0.mr-1.mt-1 Up to
                                            input.form-control#price-range-slider(type='range' min='0' max='3' value='3')
                                    br
                                    .row#categories
                                        .col
                                            h6 Categories
                                            .row
                                                .col-3
                                                    input(type='checkbox' id=`cat-check-none` checked='checked')
                                                    label.pre-space(for=`cat-check-none`) (Select none)
                                                .col-3
                                                    input(type='checkbox' id=`cat-check-all`)
                                                    label.pre-space(for=`cat-check-all`) (Select all)
                                                each category in categories.sort()
                                                    .col-3
                                                        input(type='checkbox' id=`${category._id}`)
                                                        label.pre-space(for=`${category._id}`) #{category.name}
                                    br
                                    .row#features
                                        .col
                                            h6 Features
                                            .row
                                                .col-3
                                                    input(type='checkbox' id=`feature-check-none` checked='checked')
                                                    label.pre-space(for=`feature-check-none`) (Select none)
                                                .col-3
                                                    input(type='checkbox' id=`feature-check-all`)
                                                    label.pre-space(for=`feature-check-all`) (Select all)

                                                each feature in features
                                                    .col-3
                                                        input(type='checkbox' id=feature.id)
                                                        label.pre-space(for=feature.id) #{feature.name}

        .row#search-results-header
            .col-10.offset-1
                br
                h4.d-inline.mb-0.mt-2 Search Results
                .float-right.form-inline
                    label.post-space(for='sort-by') Sort by
                    select.form-control.post-space#sort-by
                        option(value='relevance') Relevance
                        option(value='name') Name
                        option(value='rating') Rating
                    label.post-space.pre-space(for='sort-order') Order
                    select.form-control#sort-order
                        option(value='descending') High to Low
                        option(value='ascending') Low to High

        br
        #search-results

    script.
        const categories = !{JSON.stringify(categories).replace(/<\//g, '<\\/')};
        const features = !{JSON.stringify(features).replace(/<\//g, '<\\/')};
    script(type='text/javascript', src='/javascripts/search.js')
