extends mixins/layout

block content
    br
    .container
        .row
            .col
                h1 Your Profile
                br

        .row
            .col-12.col-lg-8.offset-lg-2
                .card
                    #header-details.card-header
                        button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapse-details') Details
                    #collapse-details.collapse
                        .card-body
                            #details-name
                                .row.current
                                    .col-9
                                        .vert-center-parent
                                            .vert-center-child
                                                    p.mb-0#name-p Name: #{user.name.first} #{user.name.last}
                                    .col-3
                                        .vert-center-parent
                                            .vert-center-child
                                                button.btn.float-right#edit-name(type='button') Edit
                                .row.new
                                    .col-9
                                        .vert-center-parent
                                            .vert-center-child
                                                label(for='first') Name:
                                                input.form-control.d-inline#first(type='text', value=`${user.name.first}`, autocomplete='off')
                                                input.form-control.d-inline#last(type='text', value=`${user.name.last}`, autocomplete='off')
                                    .col-3
                                        .vert-center-parent
                                            .vert-center-child
                                                .btn-group.float-right
                                                    button.btn.btn-success#confirm-name(type='button') Confirm
                                                    button.btn.btn-danger#cancel-name(type='button') Cancel
                            br
                            #details-email
                                .row
                                    .col
                                        .vert-center-parent
                                            .vert-center-child
                                                p.mb-0 Email: #{user._id}
                                                if (!user.verified.flag)
                                                    small
                                                        a#verify-email(href='javascript:void(0)') Re-send verification email
                            br
                            #details-postcode
                                .row.current
                                    .col-9
                                        .vert-center-parent
                                            .vert-center-child
                                                p.mb-0#postcode-p Postcode: #{user.postcode}
                                    .col-3
                                        .vert-center-parent
                                            .vert-center-child
                                                button.btn.float-right#edit-postcode(type='button') Edit
                                .row.new
                                    .col-9
                                        .vert-center-parent
                                            .vert-center-child
                                                label(for='postcode') Postcode:
                                                input.form-control.d-inline.upper-case#postcode(type='text', value=`${user.postcode}`, autocomplete='none')
                                    .col-3
                                        .vert-center-parent
                                            .vert-center-child
                                                .btn-group.float-right
                                                    button.btn.btn-success#confirm-postcode(type='button') Confirm
                                                    button.btn.btn-danger#cancel-postcode(type='button') Cancel
                            br
                            #details-password
                                .row.current
                                    .col-9
                                        .vert-center-parent
                                            .vert-center-child
                                                p.mb-0#password-p Password: &#x0204e;&#x0204e;&#x0204e;&#x0204e;&#x0204e;&#x0204e;&#x0204e;&#x0204e;&#x0204e;
                                    .col-3
                                        .vert-center-parent
                                            .vert-center-child
                                                button.btn.float-right#edit-password(type='button') Change
                                form#change-password-form
                                    .row.new
                                        .col-9
                                            .form-row
                                                .col-2
                                                    .vert-center-parent
                                                        .vert-center-child
                                                            label.float-right(for='old-password') Old:
                                                .col
                                                    .vert-center-parent
                                                        .vert-center-child
                                                            input.form-control.d-inline#old-password(type='password', autocomplete='none', name='old-password')
                                                            .alert.alert-danger.mb-0#incorrect-old-password
                                                                strong Incorrect password.
                                                            hr#password-divider
                                            .form-row
                                                .col-2
                                                    .vert-center-parent
                                                        .vert-center-child
                                                            label.float-right(for='new-password') New:
                                                .col
                                                    .vert-center-parent
                                                        .vert-center-child
                                                            input.form-control#new-password(type='password', autocomplete='none', name='new-password')
                                            .form-row
                                                .col-2
                                                    .vert-center-parent
                                                        .vert-center-child
                                                            label.float-right(for='new-password-confirm') Confirm:
                                                .col
                                                    .vert-center-parent
                                                        .vert-center-child
                                                            input.form-control#new-password-confirm(type='password', autocomplete='none', name='new-password-confirm')
                                        .col-3
                                            .vert-center-parent
                                                .vert-center-child
                                                    .btn-group.float-right
                                                        button.btn.btn-success#confirm-password(type='button') Change
                                                        button.btn.btn-danger#cancel-password(type='button') Cancel
                            br
                            #details-image
                                .row.current
                                    .col-9
                                        .vert-center-parent
                                            .vert-center-child
                                                p.mb-0 Update your profile picture
                                    .col-3
                                        .vert-center-parent
                                            .vert-center-child
                                                button.btn.float-right#edit-image(type='button') Change
                                form#change-image-form(enctype='multipart/form-data', action='/user/update_image', method='post')
                                    .row.new
                                        .col-9
                                            p Click the image below to change your picture
                                            img#display-picture(src=`/images/userImages/${user.reducedID}`)
                                            input#display-picture-upload(type='file', name='displayImage', accept="image/*")
                                        .col-3
                                            .vert-center-parent
                                                .vert-center-child
                                                    .btn-group.float-right
                                                        input.btn.btn-success(type='submit', value='Change', name='submit')
                                                        button.btn.btn-danger#cancel-image(type='button') Cancel

                br
                .card
                    #header-restaurants.card-header
                        button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapse-restaurants') Submitted Restaurants
                    #collapse-restaurants.collapse
                        .card-body
                            each restaurant, restaurantIndex in restaurants
                                .row
                                    .col-8
                                        .vert-center-parent
                                            .vert-center-child
                                                h5.mb-0= restaurant.name
                                                p.mb-0= restaurant.address.formattedAddress
                                    if restaurant.published
                                        .col-4
                                            .vert-center-parent
                                                .vert-center-child
                                                    a.btn.btn-info.float-right(href=`/restaurant/${restaurant.localUrl}`) View
                                    else
                                        .col-4
                                            .vert-center-parent
                                                .vert-center-child
                                                    .btn-group.float-right
                                                        button.btn.btn-success(id=`publish-${restaurant._id}`) Publish
                                                        a.btn.btn-info(href=`/restaurant/edit/${restaurant._id}`) Edit
                                                        button.btn.btn-danger(id=`delete-${restaurant._id}`) Delete

                                if restaurantIndex < restaurants.length - 1
                                    hr
                            else
                                h5.mb-0 You haven't submitted any restaurants yet!
                br
                .card
                    #header-reviews.card-header
                        button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapse-reviews') Reviews
                    .collapse#collapse-reviews
                        .card-body
                            each review, reviewIndex in reviews
                                // TODO add score
                                .row(id=`row-${review._id}`)
                                    .col-9
                                        h5.mb-0.quote "#{review.title}"
                                        p.mb-0 #{review.restaurant.name}
                                        p.mb-0= review.updatedAt.toUTCString()
                                    .col-3
                                        .vert-center-parent
                                            .vert-center-child
                                                .btn-group.float-right
                                                    a.btn.btn-info(href=`/restaurant/${review.restaurant.localUrl}/#${review._id}`) View
                                                    button.btn.btn-danger.delete-review(id=`delete-${review._id}`) Delete
                                if reviewIndex < reviews.length-1
                                    hr
                            else
                                h5.mb-0 You haven't posted any reviews yet!

    script const userVar = `!{JSON.stringify(user)}`;
    script(type = 'text/javascript', src = "/scripts/jquery.validate.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js')
    // TODO script(src='/scripts/jquery.form.min.js')
    script(type='text/javascript', src='/javascripts/user_management.js')