extends mixins/layout

block content
    br
    .container
        .row
            .col
                h1 Your Profile
                br

        .row
            .col-8.offset-2
                .card
                    #header-details.card-header
                        button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapse-details') Details
                    #collapse-details.collapse
                        .card-body
                            #details-name
                                .row.current
                                    .col-10
                                        .vert-center-parent
                                            .vert-center-child
                                                    p.mb-0#name Name: #{user.name.first} #{user.name.last}
                                    .col
                                        .vert-center-parent
                                            .vert-center-child
                                                button.btn.float-right#edit-name(type='button') Edit
                                .row.new
                                    .col-10
                                        .vert-center-parent
                                            .vert-center-child
                                                label(for='first') Name:
                                                input.form-control.d-inline#first(type='text', value=`${user.name.first}`, autocomplete='none')
                                                input.form-control.d-inline#last(type='text', value=`${user.name.last}`, autocomplete='none')
                                    .col
                                        .vert-center-parent
                                            .vert-center-child
                                                button.btn.float-right#confirm-name(type='button') Confirm
                            br
                            #details-email
                                .row.current
                                    .col-10
                                        .vert-center-parent
                                            .vert-center-child
                                                p.mb-0 Email: #{user._id}
                                                if (!user.verified.flag)
                                                    small
                                                        a(href='javascript:void(0)') Re-send verification email
                                    .col
                                        .vert-center-parent
                                            .vert-center-child
                                                button.btn.float-right#edit-email(type='button') Edit
                                .row.new
                                    .col-10
                                        .vert-center-parent
                                            .vert-center-child
                                                label(for='email') Email:
                                                input.form-control.d-inline#email(type='text', value=`${user._id}`, autocomplete='none')
                                    .col
                                        .vert-center-parent
                                            .vert-center-child
                                                button.btn.float-right#confirm-email(type='button') Confirm

                            br
                            #details-postcode
                                .row.current
                                    .col-10
                                        .vert-center-parent
                                            .vert-center-child
                                                p.mb-0 Postcode: #{user.postcode}
                                    .col
                                        .vert-center-parent
                                            .vert-center-child
                                                button.btn.float-right#edit-postcode(type='button') Edit
                                .row.new
                                    .col-10
                                        .vert-center-parent
                                            .vert-center-child
                                                label(for='postcode') Postcode:
                                                input.form-control.d-inline#postcode(type='text', value=`${user.postcode}`, autocomplete='none')
                                    .col
                                        .vert-center-parent
                                            .vert-center-child
                                                button.btn.float-right#confirm-postcode(type='button') Confirm
                            br
                            .details-password
                                .row
                                    .col-10
                                        .vert-center-parent
                                            .vert-center-child
                                                p.mb-0 Password: &#x0204e;&#x0204e;&#x0204e;&#x0204e;&#x0204e;&#x0204e;&#x0204e;&#x0204e;&#x0204e;
                                    .col
                                        .vert-center-parent
                                            .vert-center-child
                                                button.btn.float-right#edit-password(type='button') Change
                            br
                            #details-image
                                .row
                                    .col-10
                                        .vert-center-parent
                                            .vert-center-child
                                                p.mb-0 Update your profile picture
                                    .col
                                        .vert-center-parent
                                            .vert-center-child
                                                button.btn.float-right#edit-image(type='button') Change
                br
                .card
                    #header-restaurants.card-header
                        button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapse-restaurants') Submitted Restaurants
                    #collapse-restaurants.collapse
                        .card-body
                            each restaurant, restaurantIndex in restaurants
                                .row
                                    .col-10
                                        h5.mb-0= restaurant.name
                                        p.mb-0= restaurant.address.formattedAddress
                                    .col-2
                                        .vert-center-parent
                                            .vert-center-child
                                                a.btn.btn-info.float-right(href=`/restaurant/${restaurant.localUrl}`) View
                                if restaurantIndex < restaurants.length - 1
                                    hr
                br
                .card
                    #header-reviews.card-header
                        button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapse-reviews') Reviews
                    .collapse#collapse-reviews
                        .card-body
                            each review, reviewIndex in reviews
                                // TODO add score
                                .row
                                    .col-9
                                        h5.mb-0.quote #{review.title}
                                        p.mb-0 #{review.restaurant.name}
                                        p.mb-0= review.updatedAt.toUTCString()
                                    .col-3
                                        .vert-center-parent
                                            .vert-center-child
                                                .btn-group.float-right
                                                    a.btn.btn-info(href='#') View
                                                    button.btn.btn-danger(id=`delete-${review._id}`) Delete
                                if reviewIndex < reviews.length-1
                                    hr

    script const userVar = `!{JSON.stringify(user)}`;
    script(type='text/javascript', src='/javascripts/user_management.js')

    // Change name
    // Change password
    // Change address
    // Change image
    // Send verification email
    // View saved restaurants - not published
    // View all submitted reviews